# Ignore Python virtual environment
.venv

# Ignore Django static files
staticfiles

# Ignore Django media files
media

# Ignore database files
db.sqlite3

# Ignore log files
*.log

# Ignore development files
*.pyc
__pycache__
